@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Didact+Gothic&display=swap');

$body-background-color: #F5FFFA;

$footer-padding: 2rem 1.5rem 3rem;
$footer-background-color: hsl(0,0%,92%);

$family-primary: 'Didact Gothic', sans-serif;
$family-secondary: 'Arimo', sans-serif;

.footer {
    font-size: 0.8rem;

    .social {
        font-size: 1.5rem;
    }
}

.content {
    font-family: $family-secondary;
}

button.navbar-burger {
    background: inherit;
    border: none;
}

button.navbar-burger:focus {
    outline: 0;
}

@import 'bulma/bulma';